#########################################################
# Sample file system job definition
#########################################################

#########################################################
# Text filter configuration 
#########################################################
!include include/common.rc

#########################################################
# Common settings 
#########################################################
type = fsg
target_dir = /home/some/where
# format = fgf
# charset = UTF-8
# max_file_size = 10MB
# init = clear | backup | keep
# queue_size = 200 
# thread_count = 4
# before = SampleGroovy.beforeProcess(@mode@)
# after = SampleGroovy.afterProcess(@mode@)

#########################################################
# FSG specific settings 
#########################################################
source_dir = /data/some/where
# deny_dirs = *ends, starts*, *contains*
# filter_method = SampleGroovy.fileFiltering
